---
/* const header = Astro.props.header;
const text = Astro.props.text; */

const {header} = Astro.props; /*En anden måde at skrive flere props på, på en gang*/
---

<article class="card">
    <h2>{header}</h2>
    <p>Kortere lorem ipsum</p>
    <slot />
</article>

<style>
    p {
        color: hotpink;
    }
    .card {
        background-color: azure;
    }
</style>